/* Reset de Estilos para Resetear los Estilos Predeterminados de los Navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos Globales */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #000000;
  background-color: #0df521;
}

header {
  background: transparent;
  color: #000000;
  text-align: center;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

nav a {
  color: #000000;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background: transparent;
  color: #000000;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  header {
    padding: 2rem;
  }

  nav ul {
    flex-direction: row;
    align-items: center;
  }

  .btn {
    font-size: 14px;
    padding: 8px 15px;
  }
}
